<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Confirmación de Compra</title>
    <style>
      /* Global Styles */ body { font-family: "Nunito Sans", sans-serif; margin:
      0; padding: 0; } /* Container Styles */ .container { max-width: 600px;
      margin: 0 auto; background-color: #202143; padding: 20px;} /* Header
      Styles */ .header { text-align: center; margin-bottom: 40px; } .header img
      { width: 100px; height: auto; } /* Content Styles */ .content {
      margin-bottom: 20px; } .content h2 { color: #eeeeee; margin: 0; font-size:
      30px; margin-bottom: 20px; } .content p { color: #eeeeee; margin-bottom:
      16px; font-size: 18px; } .content p.marked-text { color: #eeeeee; }
      .content ul { color: #eeeeee; margin-bottom: 16px; padding-left: 20px;
      font-size: 22px; } .content ul li { margin-bottom: 8px; } .content a {
      color: #007bff; text-decoration: none; } /* Footer Styles */ .footer {
      text-align: center; font-size: 12px; opacity: 0.7; padding: 0; width:
      100%; }
    </style>
  </head>
  <body>
    <div style=" background-color: #202143;" class="container">
      <div class="header">
        <img
          src="https://res.cloudinary.com/highdatamx/image/upload/v1711122919/WEB_ASSETS/xr7vclsxvt6mzwm84rtp.png"
        />
      </div>
      <div class="content">
        <h2>!Felicidades {{name}}!</h2>
        <p>
          Estás a un paso de convertir al
          <span style="font-weight: 600; color: white">☀️</span>
          en tu mejor aliado.
        </p>
        <p>
          Encontrarás tu cotización adjunta en este ✉️. Te sugerimos ponerte en
          contacto con nosotros por whatsapp para dar seguimiento a tu proyecto.<br
          /><br />Esta es una cotización preeliminar que considera una
          instalación estandar. Nuestras instalaciones se realizan con base en
          la NOM-001-SEDE.
        </p>

        <p class="marked-text">¡Gracias por confiar en nosotros!</p>
        <p>Atentamente,</p>
        <p>HighData MX</p>
      </div>
      <div class="footer">
        <p
          style="
            margin-top: 3rem;
            color: grey;
            font-weight: 600;
            font-size: 15px;
          "
        >
          Este es un mensaje automático. Por favor, no responda a este correo
          electrónico.
        </p>
        <p
          style="
            margin-top: 1rem;
            color: grey;
            font-weight: 600;
            font-size: 15px;
          "
        >
          Consulta nuestros
          <span><a
              target="_blank"
              href="https://highdatamx.com/#terminos-y-condiciones"
              style="color: #ff4163; text-decoration: none"
            >términos y condiciones</a></span>
          así como la
          <span><a
              target="_blank"
              href="https://highdatamx.com/#terminos-y-condiciones"
              style="color: #ff4163; text-decoration: none"
            >declaración de privacidad</a></span>
        </p>
      </div>
    </div>
  </body>
</html>